
<div class="container-fluid" style="background-image: url('../../../../assets/images/background.PNG');">
 
  <a id="bt" routerLink="/admin/ListTest/admin/AddTest"type="button" class="btn btn-success btn-lg">Add Test</a>
<table class="table table-striped table-light" style="border: 2px solid black;">
  <thead class="bg-dark text-light">
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Test_Name</th>
        <th scope="col">Price</th>
        <th scope="col">Normal value</th>
        <th colspan="4">Action</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listTests">
        <!-- <th scope="row">{{item.test_id}}</th> -->
    
          <td>{{item.test_name}}</td>
          <td>{{item.test_price}}</td>
          <td>{{item.reference_value}}</td>
          <td>{{item.test_date}}</td>
          <!-- <td>{{item.Dep_fk}}</td> -->
          
        <td><a routerLink="/admin/ListTest/admin/EditTest" type="button" class="btn btn-info">Edit</a></td>
        <td><a routerLink="/admin/ListTest/admin/DeleteTest" type="button" class="btn btn-danger">Delete</a></td>
      </tr>
    
      
    
    
    </tbody>
</table>
</div>